@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: rubik, sans-serif;
    font-weight: 300;
    color: black;
    background-color: #96ADFC;
}

/* headings and logo */

h1, h2 {
    font-family: rubik, sans-serif;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 280%;
}