@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: rubik, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1, h2 {
    font-family: rubik, sans-serif;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation list */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: cover;

    /* animation zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Golf-Course setup and image */

.golf-course-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.golf-course-outer h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

.left-golf-course {
    padding-top: 15px;
    width: 33%;
    float: left; 
}

.right-golf-course {
    padding-top: 15px;
    width: 33%;
    float: right;
}

.center-golf-course {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid black;
    width: 100%;
    margin: 5px 0;
}

.left-golf-course-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
}

.right-golf-course-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
}

.right-golf-course-heading h3 {
    text-align: right;
}

.right-golf-course-heading p {
    text-align: right;
}

.square-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    margin: 0 auto;
}

.square-cover-bg {
    background: url(../images/Golf_Courses_around_Ireland.jpg) no-repeat center center;
    height: 100%;
}

/* Why Choose Ireland */

#why-ireland {
    background-image: url(../images/Why-choose-ireland-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#why-ireland h2 {
    color: white;
    font-size: 280%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
}

#why-ireland p {
    color: white;
    font-weight: 700;
    width: 65%;
    margin-left: 30px;
    padding-bottom: 15px;
}

/* footer */

footer {
    height: 150px;
}

.social {
    text-align: center;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}

/* top 5 courses */

.box-container-top {
    width: 100%;
    overflow: hidden;
    background-color: #50a149;
    box-shadow: 0.25rem 0.25rem 0.6rem;
    margin: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
    text-align: center;
}

.box-container-top h2 {
    padding-bottom: 15px;
}

.box-container-bottom {
    width: 100%;
    overflow: hidden;
    background-color: #50a149;
    box-shadow: 0.25rem 0.25rem 0.6rem;
    margin: 15px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 15px;
    text-align: center;
}

.box-container-bottom h2 {
    padding-bottom: 15px;
}

/* Newsletter */

.form-section {
    clear: left;
    background-image: url("/assets/images/newsletter-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
}

.newsletter-form {
    margin: 75px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    right: 10%;
    padding: 30px;
    box-shadow: 0.25rem 0.25rem 0.6rem;
}

.newsletter-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #50a149;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #50a149;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #50a149;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    
.golf-course-outer {
    width: 65%;
    height: 850px;
    margin: 0 auto;
}

.golf-course-outer h2 {
    padding: 15px 0;
    margin: 0;
}

.left-golf-course, .right-golf-course {
    width: 100%;
    padding: 0;
}

.square-container {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
}

hr {
    display: none;
}
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

#menu {
    clear: left;
    float: left;
    margin-left: 15px;
    margin-bottom: 20px;
    line-height: 25px;
    letter-spacing: 2px;
}

.golf-course-outer {
    width: 90%;
    height: 1000px;
    margin: 0 auto;
}

.left-golf-course, .right-golf-course {
    width: inherit;
}

.left-golf-course h3, .right-golf-course h3 {
    width: 100%;
    text-align: center;
}

.left-golf-course p, .right-golf-course p {
    text-align: center;
    padding: 0 20px;
}

.square-cover-bg {
    width: 250px;
    padding: 0;
}
}

